/**
General styling for the table
*/
.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f56d00;
}


.styled-table thead tr {
    text-align: left;
}

    
.bar-axis {
    flex-grow: 1;
    width: 100%;
    height: 20px;
}

#m-w-bars-table tbody svg {
    height: 20px;
}

.men-bar {
    fill: #19A0AA;
}

.men {
    color: #19A0AA;
}

.women {
    color: #F15F36;
}

.women-bar {
    fill: #F15F36;
}

.men-bar,
.women-bar {
    opacity: 0.8;
}

.dot {
    fill-opacity: 0.35;
}
.dot.men {
    fill-opacity: 0.4;
    fill: #3aa1c1;
}
.dot.women {
    fill-opacity: 0.6;
    fill: #f33e0c;
}

.unsorted {
    opacity: 0.5;
}

.race-data {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
}

.men-axis-label {
    float: left;
}

.women-axis-label {
    float: right;
}

.center-axis-line {
    stroke-width: 1px;
    stroke: rgb(86, 86, 86);
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #f56d00;
}

.styled-table tbody tr:hover td div svg rect {
    opacity: 1;
}