.bar-axis {
    border: 1px solid #0E0;
    flex-grow: 1;
    width: 100%;
    height: 20px;
  }

#m-w-bars-table tbody svg {
    height: 20px;
}

.men-bar {
    fill: #19A0AA;
}

.women-bar {
    fill: #F15F36;
}

.men-bar, .women-bar {
    opacity: 0.9;
}

.unsorted {
    opacity: 0.5;
}

.race-data {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
}

.men-axis-label {
    float: left;
}

.women-axis-label {
    float: right;
}

.center-axis-line {
    stroke-width: 1px;
    stroke: rgb(86, 86, 86);
}